language: python
python:
  - 3.7
env:
  - DJANGO=3.0.2
before_install:
  - python -m pip install --upgrade pip
  - export DJANGO_SETTINGS_MODULE=assur.settings

install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install django --quiet

script:
  - python manage.py migrate
  - python manage.py test
