language: python
python:
  - 3.7
env:
  - DJANGO=3.0.2
before_install:
  - rm -rf ~/virtualenv
  - mkdir ~/virtualenv
  - mkdir ~/assur
  - sudo apt-get update
  - sudo apt-get -y install virtualenv
  - python -m venv ~/virtualenv/env_assur
  - source ~/virtualenv/env_assur/bin/activate
  - cd ~/assur
  - export DJANGO_SETTINGS_MODULE=assur.settings

install:
  - pip install -r requirements.txt
  - pip install django --quiet

script:
  - python manage.py migrate
  - python manage.py test
